@import url('https://fonts.googleapis.com/css2?family=Inter');

body {
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 1px;
}

._qozh3g .contentLink {
    text-decoration: auto;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    line-height: 1.50;
}
